# Dependencies
node_modules/

# Next.js
apps/web/.next/
apps/web/out/

# Nest / API
apps/api/dist/

# Env (nunca subir secretos)
.env
.env.*
!.env.example
!.env.local.example

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel / deploy local
.vercel

# Test / coverage
coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo

# Misc
*.pem
.turbo
